.wrapper {
  display: flex;
  justify-content: space-between;
}

.logoLink {
  img {
    width: auto;
    height: 40px;
    display: block;
  }
}

.button {
  margin-left: 12px !important;
  text-transform: none !important;
}
